.alert-msg {
  background-color: rgb(189, 67, 130);
}

.output-text {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  background: -webkit-linear-gradient(#0b3788, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
